.contentMain{
    display: grid;
    grid-template-areas:
        "contentCards contentCards contentCards contentForms"
    ;
    grid-template-rows: auto;
    padding: 0;
    position: relative;
    padding-bottom: 20px;
    height: 86vh;
}

.contentCards{
    grid-area: contentCards;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.contentForms{
    grid-area: contentForms;
    border-left: 1px solid #ddd;
}


.contentForm{
    justify-content: center;
    align-items: center;
}

