*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: rgb(252, 250, 250);
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}


/* media query */

@media only screen and (max-width: 769px) {

  .box-navbar {
    background: linear-gradient(to right, #ffffff, rgb(255, 255, 255));
    justify-content: center;
    box-shadow: 0 0 5px #222;
    top: 0;
    position: sticky;
    z-index: 1;
  }
  .navbar-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .navbar-navigation li {
      
      font-size: 20px;
      margin: 0px 20px;
  }

  .navbar-navigation i {
      font-size: 10px;
      justify-content: space-between;
      width: 100%;
  }

  .navbar-logo {
      width: 10%;
      margin: 0 20px;
  }

  .box-filmItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .contentMain {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .contentForms{
    border-top: 1px solid #ddd;
    border-left: none;

  }

  .peli-item {
    width: 60%;
  }

  .footer{
    bottom: auto;
  }
}

@media only screen and (max-width: 426px) {

  .navbar-logo {
      width: 15%;
      margin: 0 20px;
  }

  .sideBar{
    top: 65px;
    width: 200px;
  }

  .list-sideBar{
    padding: 10px;
    font-size: 15px;

  }

  .list-sideBar .fa-solid{
    font-size: 15px;
  }

  .peli-item {
    width: 80%;
  }

}